@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

.nosotros {
    width: 100%;
    height: 45vh;
    background-image: url(../image/marmol.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: whitesmoke;
}

.tituloAU{
    font-family: "Bebas Neue";
    font-size: 30px;
}

.cocinero {
    align-items:center;
    width: 250px;
    height: 390px;
}

.info {
    color: whitesmoke;
    display: flex;
}

.div2{
    display: flex;
    margin: 10px;
    font-size: 25px;
}

.div2 ul li {
    list-style:none;
    font-family: garamond;
   text-align: justify;
}


@media (max-width: 768px) {
    .nosotros {
        height: 65vh;
    }

    .div2{
        display: flex;
        font-size: 10px;
    }
   
    .info {
        display:inline-block;
        padding:0px 12px;
        margin:0px 8px;
        font-size: 15px;
    }

    .cocinero {
        width: 125px;
        height: 195px;
    }
}
