
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buyNow{
    display: flex;
    background-color: #E7EEFB;
}

.buyNow p {
    font-family: garamond;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    margin: 25px;
    line-height: 20px;
    margin-top: 45px;
    margin-bottom: 15px;
}

.action a{
    background-color: #432344;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

.action a:hover{
    background-color: #FF2525;
}