.contenedor-principal {
    height: 250px;
    background-color: #e7eefb ;
}

.contenedor-secundario img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
img[src] {
    height: 220px;
    width: 280px;
    /*box-sizing: border-box;*/
    margin: 15px 10px 0 10px;
}