*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.redes{
    height: 200px;
    background-image: url(../image/fondoRedes.jpg);
    background-size: contain;
    align-items: center;
    justify-content: center;
}



.redes p{
    padding-top: 50px;
    font-family: bebas neue;
    color: #432344;
    font-size: 35px;
    text-shadow: 1.5px, 1.5px, yellow;
}

.redes a{
    padding: 8px;

}

.redes a :hover{
    transform: scale(1.08);
}


